# Generated devnet directory
devnet/
# Cloned hydra source
hydra_src/
# Copied hydra demo keys
keys/

# NodeJS
node_modules/
blockfrost-config/alonzo_genesis.json
blockfrost-config/byron_genesis.json
blockfrost-config/conway_genesis.json
blockfrost-config/genesis.json.bak
blockfrost-config/shelley_genesis.json
pparams.json
